body {
    font-family: 'Plus Jakarta Sans';
  
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

h1 {
    font-size: 40px;
}

.header-box {
    display: flex;
    width: 100%;
    background-color:  rgb(224, 168, 168);
}

.flex {
    flex-grow: 1;
}

.menu {
    display: flex;
    width: 100%;
    gap: 30px;
    padding-top: 20px;
    justify-content: center;
}

ul a {
    text-decoration: none;
    color: rgb(187, 99, 70);
    font-weight: 500;
    
} 

#signup {
    padding: 10px 25px 10px 25px;
    margin-left: 300px;
    font-size: 15px;
    font-weight:100;
    background-color: rgb(233, 155, 155);
    text-decoration: none;
    border-color: white;
}


#signup:hover {
    background-color: rgb(156, 97, 107);
    color: white;
}

h2 {
    padding-top: 150px;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: rgb(129, 119, 119);
}

.desc{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
    color: rgb(80, 76, 76);
}

.btn-secondary {
    height: 64px;
    color: white;
    background: rgba(38, 50, 64, 0.64);
    font-size: 17px;
    
}

button {
    display: block;
    margin: 0 auto;
}

.btn-secondary:hover {
    background-color: white;
    color: black;
}

.hero {
    background-image: url(sofa.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

h3 {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

h4 {
    text-align: center;
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.col-4 {
    width: calc(4 / 12 * 100%);
}

.max-w-900 {
    max-width: 900;
    margin: 0 auto;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1200px;
    justify-content: center;
}
.card1 {
    top: 900px;
    margin-left: 100px;
    padding: 75px 110px;
    background: #263240;
    box-shadow: 16px 24px 72px rgba(38, 50, 64, 0.16);
    color: white;

}

.card2 {
    top: 900px;
    padding: 75px 110px;
    background: rgba(38, 50, 64, 0.16);
    box-shadow: 16px 24px 72px rgba(38, 50, 64, 0.16);
    color: black;
}

.card3 {    
    top: 900px;
    padding: 75px 110px;
    background: rgba(38, 50, 64, 0.16);
    box-shadow: 16px 24px 72px rgba(38, 50, 64, 0.16);
    color: black;

}

.col-6 {
    width: calc(6 / 12 * 100%);
}

.products {
    padding-top: 121px;
}

.furniture {
    background-color: rgba(217, 217, 217, 1);
}
.product-gallery {
    background: #D9D9D9;
    gap: 100px;
    padding-top: 121px;
    padding-left: 120px;
    padding-right: 120px;
}

#product-line h5 {
    margin-bottom: 24px;
}

#product-line p {
    margin-bottom: 40px;
}

.card p:first-child {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
}

.cards {
    background-color: #263240;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card p:last-child {
    color: rgb(255,255,255, 70%);
}
