body {
    font-family: 'Plus Jakarta Sans';
  
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.logo img {
    height: 45px;
}

h1 {
    font-size: 40px;
    padding-top: 10px;
}

.menu {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul a {
    text-decoration: none;
    color: rgb(187, 99, 70);
    font-weight: 500;
    
} 

button {
    padding: 10px 25px 10px 25px;
    font-size: 15px;
    font-weight:100;
    background-color: rgb(233, 155, 155);
    text-decoration: none;
    border-radius: 20px;
    border: none;
    height: 45px;

}

.sign-up-button {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#signup:hover {
    background-color: rgb(156, 97, 107);
    color: white;
}

header {
    background-image: url(/assets/sofa.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8px;
    padding-right: 8px;
    height: 60px;
    max-width: 1400px;
    margin: 0 auto;
}

.title {
    padding-top: 150px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: rgb(129, 119, 119);
}

.block {
    display: block;
}

.desc{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
    color: rgb(129, 119, 119);
    max-width: 480px;
    margin: 0 auto;
}

.btn-secondary {
    height: 64px;
    color: white;
    background: rgb(207, 48, 96);
    font-size: 17px;
    border-radius: 64px;
    border: none;
    display: block;
    margin: 0 auto;
}

.btn-secondary:hover {
    background-color: white;
    color: black;
}

.hero {
    background-image: url(/assets/sofa.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    min-height:600px;
    padding-left: 50px;
    padding-right: 50px;
}

.second-section {
    width: 1100px;
}

h3 {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    color: rgba(38, 50, 64, 1);
    font-size: 48px;
    font-weight: 600;
}

h4 {
    text-align: center;
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 80px;
    color: rgba(38, 50, 64, 0.7);
    font-size: 20px;
    font-weight: 400;
}

.gallery {
    justify-content: center;
    margin-bottom: 150px;
    gap: 30px;
    flex-wrap: nowrap;
}
    .card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 56px;
    gap: 32px;
    color: white;
    width: 356.67px;
    height: 300px;

    background: #263240;
    box-shadow: 16px 24px 72px rgba(38, 50, 64, 0.16);

    }

    .card2 {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 56px;
    gap: 32px;

    width: 356.67px;
    height: 300px;

    background: rgba(38, 50, 64, 0.16);
    }

    .card3 {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 56px;
    gap: 32px;
    width: 356.67px;
    height: 300px;
    background: rgba(38, 50, 64, 0.16); 

    }

.card1 img, 
.card2 img,
.card3 img {
    width: 64px; 
    height: 64px;
}

.furniture img {
    width: 96%; 
    height: 100% ; 
    display: flex;
}


.visitors-area img {
    width: 550px;
    height: 438px;
    position: relative;
}

.products {
    padding-top: 121px;
}

.product-gallery {
    background: #D9D9D9;
    padding-top: 121px;
    padding-bottom: 121px;
    padding-left: 100px;
    padding-right: 100px;
}

.product-line {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}


#product-line h5 {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 600;
}

#product-line p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(38, 50, 64, 0.7)
}

.card p:first-child {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
}

.cards {
    background-color: #263240;
    padding: 28px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 96%;
    height: 100%;
}

.card p:last-child {
    color: rgb(255,255,255, 70%);
}

.we-provide {
    padding-bottom: 100px;
}

.furniture-w-ease h2 {
    padding-top: 0;
    font-size: 48px;
    font-weight: 600;
    color: rgba(38, 50, 64, 1);
}

.furniture-w-ease p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(38, 50, 64, 0.7);
}

.mediocrity h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(38, 50, 64, 1);
    text-align: center;
    margin-bottom: 20px;
}

.mediocrity p {
    font-size: 19px;
    font-weight: 400;
    color: rgba(38, 50, 64, 0.7);
    line-height: 32px;
    margin-bottom: 40px;
    width: 1000px;
    text-align: center;
    justify-content: center;
}

.photo-gallery {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.subscription {
    background-image: url(./assets/pink\ sofa.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}

.logo {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 121px;
} 

.subscribe h3 {
font-weight: 600;
font-size: 48px;
line-height: 62px;
letter-spacing: -0.05em;
color: #FFFFFF;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    }


.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 48px;
    width: 590px;
    background: rgb(238, 152, 166);
    border-radius: 48px;
    font-weight: 100px;
    }

    .button button {
        font-size: 18px;
    }

    .button1:hover {
        background-color: rgb(230, 96, 119);
        color: black;
    }

    
    .column {
        flex: 25%;
        padding: 50px;
        height: 300px; 
        line-height: 50px;
        background-color: rgb(240, 161, 187);
      }

      .column > div {
        color: white;
        font-size: 24px;
        font-weight: 600;
      }

      h6 {
        font-size: 30px;
        color: white;
        font-weight: 600;
        padding-bottom: 15px;
      }

      .tagline {
        line-height: 25px;
        color: black;
      }

    
.col {
    width: 100%;
    height: 100%;
  }
  
.col-2 {
    width: calc(2 / 12 * 100%);
  }
  

.col-3 {
    width: calc(3 / 12 * 100%);
  }

  .col-4 {
    width: calc(4 / 12 * 100%);
  }

  .col-5 {
    width: calc(5 / 12 * 100%);
  }

  .col-6 {
    width: calc(6 / 12 * 100%);
  }

  .col-7 {
    width: calc(7 / 12 * 100%);
  }


  .col-8 {
    width: calc(8 / 12 * 100%);
  }

  .col-9 {
    width: calc(9 / 12 * 100%);
  }

  .col-10 {
    width: calc(10 / 12 * 100%);
  }

  .col-11 {
    width: calc(11 / 12 * 100%);
  }

  .col-12 {
    width: calc(12 / 12 * 100%);
  }

  @media screen and (max-width: 768px) {


    .gallery {
        flex-wrap: wrap;
        padding-left: 180px;
    }

    .furniture-w-ease p {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 30px;
        line-height: 35px;
    }

    .best-features h3  {
        text-align: center;
        width: 750px;
    }

    .best-features h4  {
        text-align: center;
        width: 600px;
        padding-left: 110px;
        line-height: 35px;
        font-size: 30px;
    }    

    .mediocrity p {
        text-align: center;
        width: 700px;
        line-height: 35px;
        font-size: 30px;
        padding-right: 250px;
        align-items: justify;
    }

    .card p:last-child {
        font-size: 20px;
    }
    
    #product-line p {
        font-size: 30px;
        line-height: 30px;
    }

    .column {
        flex: 50%;
    }
  }

  @media screen and (max-width: 1440px) {
    .mediocrity p {
        padding-left: 100px;
    }

    .visitors-area img {
        height: 508px;
    }
  }



  /* sm breakpoint */
  @media (min-width: 576px) {
    .col-sm-1 {
      width: calc(1 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-2 {
      width: calc(2 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-3 {
      width: calc(3 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-4 {
      width: calc(4 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-5 {
      width: calc(5 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-6 {
      width: calc(6 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-7 {
      width: calc(7 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-8 {
      width: calc(8 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-9 {
      width: calc(9 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-10 {
      width: calc(10 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-11 {
      width: calc(11 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-sm-12 {
      width: calc(12 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
  }

  /* md breakpoint */
  @media (min-width: 768px) {

    .col-md-1 {
      width: calc(1 / 12 * 100%);
   }
    .col-md-2 {
      width: calc(2 / 12 * 100%);
    }
    .col-md-3 {
      width: calc(3 / 12 * 100%);
    }
    .col-md-4 {
      width: calc(4 / 12 * 100%);
    }
    .col-md-5 {
      width: calc(5 / 12 * 100%);
    }
    .col-md-6 {
      width: calc(6 / 12 * 100%);
    }
    .col-md-7 {
      width: calc(7 / 12 * 100%);
    }
    .col-md-8 {
      width: calc(8 / 12 * 100%);
   }
    .col-md-9 {
      width: calc(9 / 12 * 100%);
    }
    .col-md-10 {
      width: calc(10 / 12 * 100%);
    }
    .col-md-11 {
      width: calc(11 / 12 * 100%);
    }
    .col-md-12 {
      width: calc(12 / 12 * 100%);
    }
  }

  /* lg breakpoint */
  @media (min-width: 992px) {
    .col-lg-1 {
      width: calc(1 / 12 * 100%);
   }
    .col-lg-2 {
      width: calc(2 / 12 * 100%);
   }
    .col-lg-3 {
      width: calc(3 / 12 * 100%);
      flex: 25%;
  
    }
    .col-lg-4 {
      width: calc(4 / 12 * 100%);
    }
    .col-lg-5 {
      width: calc(5 / 12 * 100%);
    }
    .col-lg-6 {
      width: calc(6 / 12 * 100%);
    }
    .col-lg-7 {
      width: calc(7 / 12 * 100%);
    }
    .col-lg-8 {
      width: calc(8 / 12 * 100%);
    }
    .col-lg-9 {
      width: calc(9 / 12 * 100%);
    }
    .col-lg-10 {
      width: calc(10 / 12 * 100%);
    }
    .col-lg-11 {
      width: calc(11 / 12 * 100%);
    }
    .col-lg-12 {
      width: calc(12 / 12 * 100%);
    }
  }

  /* xl breakpoint */
  @media (min-width: 1200px) {
    .col-xl-1 {
      width: calc(1 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-2 {
      width: calc(2 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-3 {
      width: calc(3 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-4 {
      width: calc(4 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-5 {
      width: calc(5 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-6 {
      width: calc(6 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-7 {
      width: calc(7 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-8 {
      width: calc(8 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-9 {
      width: calc(9 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-10 {
      width: calc(10 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-11 {
      width: calc(11 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xl-12 {
      width: calc(12 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
  }

  /* xxl breakpoint */
  @media (min-width: 1400px) {
    .col-xxl-1 {
      width: calc(1 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-2 {
      width: calc(2 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-3 {
      width: calc(3 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-4 {
      width: calc(4 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-5 {
      width: calc(5 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-6 {
      width: calc(6 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-7 {
      width: calc(7 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-8 {
      width: calc(8 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-9 {
      width: calc(9 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-10 {
      width: calc(10 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-11 {
      width: calc(11 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
    .col-xxl-12 {
      width: calc(12 / 12 * 100%);
      background-color: blueviolet;
      border: 1px solid black;
    }
  }
